/* Have been working on these styles for several weeks now, still not working properly */
:root {
    --background: #1C1C1C;
    --borderColor: rgba(240, 240, 240, 0.1);
}

body {
    background-color: var(--background);
    color: #FFFFFF;
    font-family: "Inconsolata", monospace;
}
.bold-text {
    font-weight: bold !important;
    color: white;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(28, 28, 28, 0.2);
    border-bottom: 1px solid var(--borderColor);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 40px;
    box-sizing: border-box;
}

/* Set logo styles */
nav .logo {
    margin-right: auto;
    margin-left: 30px;
    height: 40px;
}

nav .logo a {
    color: rgb(9, 121, 105);
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}

/* Navigation */
nav {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(28, 28, 28, 0.2);
    border-bottom: 1px solid var(--border-color);
    height: 50px;
    padding-right: 40px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    margin-left: 35px;
}

nav ul li a {
    display: inline-block;
    color: #FFFFFF;
    font-size: 14px;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease-in-out;
}

nav ul li a:hover {
    border-bottom: 2px solid #fff;
}

/* Set main content styles */
main {
    padding-top: 70px;
}

/* Set section styles */
section:not(#timeline) {
    padding-left: 70px !important;
    padding-right: 70px !important;
}

section:first-of-type {
    margin-top: -70px;
    margin-bottom: 30px;
}

section h1 {
    font-size: 37px;
    font-weight: bold;
    margin-bottom: 0px;
}

section p {
    font-size: 16px;
    line-height: 1.5;
    z-index: 100;
}

#about p {
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 34px;
    color: rgb(9, 121, 105);
}

article {
    color: gray;
    font-size: 12px;
    padding: 40px 75px 10px 75px;
    background-color: var(--background);
}

h1,
h2 {
    color: #FFFFFF;
    z-index: 100;
    align-items: center;
}

main p,
main li {
    color: #FFFFFF;
}

@media (max-width: 600px) {
    nav ul li a {
        font-size: 10px;
        margin-left: 1px;
    }
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

#underH1 {
    height: auto;
    margin: 0; 
}
#about article{
    font-size: 13px;
    padding: 40px 90px;
}

.centered img {
    display: block;    
}

.centered img.crop-img {
    object-fit: cover;
    top: 50px;
    overflow: hidden;
    width: 100%;
    max-height: 30em;
}

.transparent-bg {
    background-image: url(https://images.unsplash.com/photo-1522252234503-e356532cafd5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzJ8fHByb2dyYW1taW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
    backdrop-filter: brightness(100%);
}

#about::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
    backdrop-filter: grayscale(100%);
}

section:first-of-type h1 {
    margin-top: 150px;
}

section:nth-of-type(1)::after {
    content: "";
    position: absolute;
    top: 70%;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--background);
    opacity: 1;
    z-index: -1;
}

#timeline {
    border: 1px solid var(--borderColor);
    background-color: var(--background);
}

#timeline p {
    margin-bottom: 30px;    
    font-size: 12px;
}

.container {
    width: 100%;
    padding: 0;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    flex: 1;
    padding: 30px 25px;
    background-color: var(--background);
    text-align: start;
    border: 1px solid var(--borderColor);
}

.col:first-of-type {
    padding-left: 45px;
}

.col:last-of-type {
    padding-right: 45px;
}

.col h2 {
    font-size: 16px;    
}

#projects {
    background-color: var(--background);
    padding: 20px;
    text-align: center;
}

#projects p {
    margin: 5px 0 30px;
    z-index: 0;
}

#projects a {
    font-size: 11px;
}

#projects nav {
    justify-content: center;
}

button:hover,
.accent:hover {
    background-color: #FFFFFF;
    color: #FFA500;
}

button,
.accent {
    background-color: #FFA500;
    color: #FFFFFF;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.gallery-item {
    position: relative;
}

.gallery-item img {
    display: block;
    width: 100%;
    height: auto;
    max-height:240px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.gallery-item-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(28, 28, 28, 0.6);
    color: white;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    padding: 10px;
    text-align: center;
}

.gallery-item-info h3 {
    margin: 0;
    font-size: 18px;
}

.gallery-item-info p {
    margin: 0;
    font-size: 14px;
    line-height: 1.2;
    margin-top: 5px;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.gallery-item:hover .gallery-item-info {
    opacity: 1;
    transform: translateY(0);
}

.view-all {
    text-align: center;
    margin-top: 50px;
    z-index: 100;
}

.view-all a {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

#other-info {
    background-color: var(--background);
    padding: 40px 0;
}

.other-info-container {
    margin: 0 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 500px;
    overflow: hidden;
}

.image-container {
    flex: 1 0 70%;
    position: relative;
    overflow: hidden;
}

.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gray-background {
    padding: 0px 40px;
}

.white-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    color: #fff;
    box-sizing: border-box;
    text-align: center;
}

.white-overlay h1 {
    margin: 0;
    position: relative;
    top: -20px;
}

.gray-background article {
    flex: 1;
    font-size: 15px;    
}

.arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    position: relative;
}

#article-div {
    padding: 0;
    text-align: center;
    font-style: italic;
}

.arrow-left,
.arrow-right {
    background-position: center center;
    width: 15px;
    height: 13px;
    background-image: url('https://www.freeiconspng.com/thumbs/white-arrow-png/white-arrow-transparent-png-22.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

.arrow-right {
    right: 0;
}

.arrow-left {
    left: 0;
    transform: rotate(180deg);
}

.profile-pic-container {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    top: -100px;
    z-index: 1;
}

.profile-pic-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

#contact-me {
    position: relative;
    background: url("https://images.unsplash.com/photo-1505238680356-667803448bb6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") no-repeat center center/cover;
}

#contact-me::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: grayscale(100%) contrast(0.7);    
}

.contact-me-content {
    position: relative;
    z-index: 1;
    padding-top: 20px;    
}

#contact-me h1,
#contact-me h2,
#contact-me label,
#contact-me button {
    color: white;
    text-shadow: 1px 1px 2px black;
}

.contact-form {
    max-width: 500px;
    margin: 0 auto 50px;
    padding: 20px;
    border-radius: 10px;
}

.contact-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

.contact-form input,
.contact-form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
}

.contact-form textarea {
    height: 200px;
}

.contact-form button {
    background-color: #00bfff;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #0099cc;
}

section:not(:first-child) {
    margin-top: 50px;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin: 0px auto;
    padding-bottom: 20px;
}

.social-icons a {
    display: inline-block;
    width: 32px;
    height: 32px;
}

.social-icons img {
    display: block;
    width: 100%;
    height: 100%;
    filter: brightness(0) invert(1);
}

.social-icons a:hover img {
    filter: grayscale(0%);
}

#navbar-icons img {
    width: 15px;
    height: 15px;
    filter: brightness(0) invert(1);
}
